CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_NODEJS_12=y
CONFIG_NODEJS_ICU_NONE=y
CONFIG_PACKAGE_aliyundrive-webdav=m
CONFIG_PACKAGE_coreutils=m
CONFIG_PACKAGE_coreutils-base64=m
CONFIG_PACKAGE_curl=m
CONFIG_PACKAGE_dns2socks=m
# CONFIG_PACKAGE_dnsmasq_full_tftp is not set
# CONFIG_PACKAGE_etherwake is not set
CONFIG_PACKAGE_go-aliyundrive-webdav=m
CONFIG_PACKAGE_ip-full=m
CONFIG_PACKAGE_ipset=m
CONFIG_PACKAGE_iptables-mod-tproxy=m
CONFIG_PACKAGE_kmod-ip6tables=m
CONFIG_PACKAGE_kmod-ipt-tproxy=m
CONFIG_PACKAGE_kmod-nf-ipt6=m
CONFIG_PACKAGE_kmod-nf-reject6=m
CONFIG_PACKAGE_libatomic=m
CONFIG_PACKAGE_libbpf=m
CONFIG_PACKAGE_libcap=m
CONFIG_PACKAGE_libcurl=m
CONFIG_PACKAGE_libelf=m
CONFIG_PACKAGE_libev=m
CONFIG_PACKAGE_libipset=m
CONFIG_PACKAGE_libmnl=m
CONFIG_PACKAGE_libnghttp2=m
CONFIG_PACKAGE_libsodium=m
CONFIG_PACKAGE_libstdcpp=m
CONFIG_PACKAGE_libudns=m
CONFIG_PACKAGE_libuv=m
CONFIG_PACKAGE_libwebsockets-full=m
# CONFIG_PACKAGE_logd is not set
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
CONFIG_PACKAGE_luci-app-aliyundrive-webdav=m
# CONFIG_PACKAGE_luci-app-arpbind is not set
# CONFIG_PACKAGE_luci-app-autoreboot is not set
CONFIG_PACKAGE_luci-app-ddns=m
# CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs is not set
# CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk is not set
# CONFIG_PACKAGE_luci-app-filetransfer is not set
CONFIG_PACKAGE_luci-app-go-aliyundrive-webdav=m
CONFIG_PACKAGE_luci-app-jd-dailybonus=m
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
CONFIG_PACKAGE_luci-app-ssr-plus=m
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client is not set
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-ttyd=m
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-wol is not set
CONFIG_PACKAGE_luci-i18n-aliyundrive-webdav-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ddns-zh-cn=m
CONFIG_PACKAGE_luci-i18n-go-aliyundrive-webdav-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ssr-plus-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=m
# CONFIG_PACKAGE_luci-lib-fs is not set
CONFIG_PACKAGE_microsocks=m
CONFIG_PACKAGE_node=m
CONFIG_PACKAGE_resolveip=m
CONFIG_PACKAGE_shadowsocksr-libev-ssr-check=m
# CONFIG_PACKAGE_shadowsocksr-libev-ssr-local is not set
# CONFIG_PACKAGE_shadowsocksr-libev-ssr-redir is not set
CONFIG_PACKAGE_tcping=m
CONFIG_PACKAGE_ttyd=m
# CONFIG_PACKAGE_vlmcsd is not set
# CONFIG_PACKAGE_vsftpd-alt is not set
# CONFIG_PACKAGE_wol is not set
CONFIG_PACKAGE_xray-core=m
CONFIG_XRAY_CORE_COMPRESS_UPX=y
